<hr>
<button (click)="abrirModal()" class="btn btn-primary">
  <i class="fa-solid fa-plus"></i>
  Este es el modal</button>

<!--<p>Componente Inicio</p>

 <button routerLink="">Mostrar listas</button>
<a href="lista">
  <button>Mostrar lista</button>
</a>

@if (mostrarTitulo) {
  <h2>Tabla de personas</h2>
}

@for(persona of personas; track $index){
  <tr>
    <td>
      {{ persona.nombre}}
    </td>
    <td>
      {{ persona.edad}}
    </td>
    <td>
      {{ persona.ciudad}}
    </td>
    <td>
      {{ persona.documento}}
    </td>
  </tr>
} -->
